.modal {
  &__imageContainer {
    background-color: #000;
    border-radius: 3px;
  }

  &__image {
    width: 100% !important;
    border-radius: 3px;
  }

  img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
