//margins
.mb-10 {
  margin-bottom: 10px;
}

.mr-5 {
  margin-right: 5px;
}

//paddings
.pt-25 {
  padding-top: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-9 {
  padding-left: 9px;
}

.pl-10 {
  padding-left: 10px;
}

.p-10 {
  padding: 10px;
}

//fonts
.font-16 {
  font-size: 16px;
}

//divider
.divider {
  border-bottom: 1px solid #8080804a;
}

//cursor
.cursor-pointer {
  cursor: pointer;
}

//scrollbar
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track:horizontal {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #c0c0c0;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #a0a0a0;
}

.scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}
